openapi: 3.0.3
info:
  title: RealmID Auth Service
  description: |
    Multi-tenant identity + auth service. Dogfood-launch (v1) surface.

    Source of truth is `api/internal/httpapi/routes.go`; this spec
    mirrors it. Schema source of truth is
    `api/internal/migrations/migrations.go` (ADR-030).

    Response-status convention (ADR-069): a **uniform `200` `{data:...}`
    envelope**. Every endpoint returns `200` on success — including all
    DELETEs, which carry a `{status:...}` body — EXCEPT genuine
    resource-creation POSTs, which return `201 Created` (enumerated below:
    `POST /platforms`, `/identity-providers`, `/sources` (ADR-072),
    `/platforms/{id}/{api-keys,roles,origins,federation-bindings}`,
    `/platforms/{pid}/tenants`, `/tenants/{id}/invitations`, tenant-scoped
    invitations, and `/tenants/{id}/service-accounts` (ADR-071)). Clients
    should accept the whole `2xx` class; the RealmID SDKs already do.

    Retired in this release (returned 404):
    `/auth/select-tenant`, `/auth/token/switch`, `/auth/user-token`,
    `/auth/cross-platform-token`, and the `choice_token` machinery.
    See ADR-032 for the consolidation.

    New in v1: `GET /platforms/mine` for caller-scoped platform
    discovery; 412 error envelopes include sibling fields on the error object
    (`revocation_token`, `mfa_challenge_token`, `active_sessions`,
    `tenant_id`) rather than bare codes.

    New in v0.7.0 (ADR-051 — two-endpoint auth surface): the
    credential-exchange surface collapses to **`POST /auth/login` +
    `POST /auth/token`**. `POST /auth/service-token` and
    `POST /auth/platform-token` are deleted (hard cut, no aliases).
    `/auth/login` now takes a `grant_type`-discriminated body with
    five grants (`provider_token`, `password`, `otp`,
    `api_key`, `platform_api_key`). The legacy `method` field was a
    one-release deprecated alias for the user grants and is **removed**
    at its announced sunset (2026-08-01). All issued tokens carry an explicit
    `subject_type ∈ {user, service, platform}`. The realm-config key
    `service_refresh_rotates` (default `false`) opts the ADR-071
    service-account refresh token into the user-style single-use
    rotation lifecycle. Its sibling `platform_refresh_rotates` was
    removed by ADR-089, which withdrew the refresh token from every
    credential-bootstrapped session.

    See ADR-035 (`issuer/docs/adr/035-post-v1-deferrals.md`) for features
    deferred past v1: HTTP rate limiting, cross-platform authorization
    endpoints, OTP internal login (`method: "otp"`), and per-realm
    invitation TTL overrides.
  version: 0.30.0
  contact:
    name: RealmID
    url: https://realmid.dev

servers:
  - url: https://auth.realmid.dev
    description: Production

tags:
  - name: Auth
    description: Login, token mint, MFA, logout
  - name: Sessions
    description: Session list and revocation
  - name: JWKS
    description: Public key discovery
  - name: Platforms
    description: Self-serve platform onboarding (ADR-033)
  - name: Realms
    description: Realm-as-OIDC-issuer surface (JWKS, OIDC discovery)
  - name: Platform Admin
    description: Partner-platform admin surface (api keys, config, roles)
  - name: Tenants
    description: Tenant CRUD, config, membership
  - name: MFA Admin
    description: Admin-initiated TOTP enrollment + reset
  - name: Invitations
    description: Tenant invitation management
  - name: Internal ops
    description: |
      RealmID-staff-only endpoints under `/admin/platforms/...` powering
      the internal-ops console (UI v2 G3). Authz: base-realm staff
      (a service JWT scoped to the base realm OR a user JWT whose tenant
      is the base realm's admin tenant with role=owner). Customer
      partners get 403 even on the GET routes — these are surfaces RI
      ops uses, not partner self-service. Spec lives in
      `ui/web/docs/v2-handoff.md` G3.3-G3.5 + `ui/TODO.md` decision #15.

components:
  securitySchemes:
    BearerAccess:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: User access JWT minted by POST /auth/token.
    BearerRefresh:
      type: http
      scheme: bearer
      description: Refresh token (opaque). Used by POST /auth/token, /auth/logout.
    BearerService:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Service JWT minted by POST /auth/login with
        `grant_type=api_key` (ADR-051; v0.7.0). Carries
        `subject_type=service`.
    BearerMFAChallenge:
      type: http
      scheme: bearer
      description: Short-lived MFA challenge token.
    BearerRevocation:
      type: http
      scheme: bearer
      description: Short-lived revocation token returned on 412 session_limit_reached. Scope = session:list + session:revoke.
    BearerPlatformToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Short-lived platform JWT minted by POST /auth/login with
        `grant_type=platform_api_key` (ADR-051; v0.7.0). Carries
        `subject_type=platform` and claim `token_class=platform`.

        **ADR-097 #8 — claim rename, COMPLETE.** The class marker used to be
        the `scope` claim. RFC 9068 §2.2.3 gives that name to GRANTED
        AUTHORITY, which ADR-097 hands to partner-supplied strings, so the
        class moved to its own `token_class` claim. Spec `0.27.0` emitted
        **both**; from `0.28.0` a platform token carries `token_class` only.
        **BREAKING for anything still reading `scope` to decide "is this a
        platform token"** — a `scope` on a token is now the partner's own
        granted-authority vocabulary and says nothing about class. A partner
        may legitimately name a scope `platform`. Used by
        partner backends per ADR-047 to mediate every scoped
        read/write against RealmID — including identity-provider
        discovery, /auth/login user grants, /me forwards, and the
        A.7 domain CRUD surface.

  schemas:
    Error:
      type: object
      required: [code, message]
      description: |
        Standard error envelope. **Wire shape note (applies to every
        error response in this spec):** GoFr nests the handler's error
        object under a top-level `"error"` key, and the human-readable
        text travels in a field named `"error"` — NOT `"message"`
        (`apiErr.Response()` in `internal/httpapi/types.go`). The actual
        bytes on the wire are:

            {"error": {"code": "<slug>", "error": "<human text>"}}

        The `message` property below is the *logical* hint field; read it
        from `error.error` when consuming raw HTTP. Extra sibling fields
        (e.g. the 412 precondition envelopes' `mfa_challenge_token`,
        `revocation_token`, `active_sessions`, `tenant_id`) are nested
        under the same top-level `"error"` object.

        `code` is a stable machine-readable
        slug; `message` is a human-readable hint. Common 401 codes
        emitted by the auth surface:

        - `invalid_credentials` — bad password / token / OTP.
        - `invalid_audience` — id-token `aud` not registered (ADR-046).
        - `invalid_token` — malformed / expired bearer.
        - `wrong_scope` — bearer present but wrong class
          (e.g. user JWT where platform is required).
        - `bff_bearer_required` — every realm requires the BFF escort (ADR-088)
          and the inbound platform bearer is missing. Emitted on
          `POST /auth/token` + `POST /auth/logout`. NOTE: `POST /auth/login`
          requires a platform bearer **unconditionally** (ADR-047 §2 — it
          gates via the platform-token check, which runs *before* the BFF
          gate), so a **bearerless `/auth/login` returns `401 unauthorized`
          ("missing bearer"), never `bff_bearer_required`**. The
          `bff_bearer_required` code is only reachable on
          `/auth/token` / `/auth/logout`.
        - `key_class_mismatch` — declared `grant_type` on
          `/auth/login` (`api_key` vs `platform_api_key`) doesn't
          match the api-key's class (ADR-051).
        - `user_not_invited` — known user but not a member of any
          tenant in the resolved realm. (Returned as **403**, not 401 —
          listed here for discoverability.)
        - `refresh_invalid` — on `POST /auth/token` only: the presented
          refresh token is expired, revoked, or reuse-detected. Terminal
          for the caller — re-authentication is required (no retry helps).
      properties:
        code: { type: string, example: user_not_invited }
        message: { type: string }

    SuspendPlatformResponse:
      type: object
      description: |
        Response shape for POST /admin/platforms/{id}/suspend +
        /unsuspend. `suspended_at` and `reason` are present only when
        the platform is currently suspended.
      required: [id, status]
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [active, suspended, deactivated] }
        suspended_at: { type: integer, format: int64, nullable: true }
        reason: { type: string }

    PreconditionMFA:
      type: object
      description: 412 response when target tenant requires MFA.
      required: [code, mfa_challenge_token, tenant_id]
      properties:
        code:
          type: string
          enum: [mfa_required, mfa_registration_required]
        missing:
          type: array
          items: { type: string }
          example: [mfa]
        mfa_challenge_token: { type: string }
        tenant_id: { type: string, format: uuid }

    SessionSummary:
      type: object
      required: [id, created_at]
      properties:
        id: { type: string, format: uuid }
        origin: { type: string }
        device_name:
          type: string
          description: >
            Human-readable label for the device that created this session
            (e.g. a CLI hostname), supplied at login via the `X-Device-Name`
            header. Omitted when the session carries no label. Lets a user
            tell sessions apart when revoking (ADR-062).
        created_at: { type: integer, format: int64 }
        last_seen_at: { type: integer, format: int64 }

    PreconditionSessionLimit:
      type: object
      description: |
        412 response when concurrent session cap is hit at login.
        Extends the base {code, message} error envelope with the
        short-lived revocation_token (scope: session:list + session:revoke,
        TTL = realm challenge TTL) and the list of active sessions the UI
        shows in the Session-Limit modal. See TEST_INVENTORY §2.6.
      required: [code, message, revocation_token, active_sessions]
      properties:
        code: { type: string, enum: [session_limit_reached] }
        message: { type: string }
        revocation_token: { type: string }
        active_sessions:
          type: array
          items: { $ref: '#/components/schemas/SessionSummary' }

    PreconditionFirstLoginPending:
      type: object
      description: |
        412 response when the first login on a recently-vacated contact
        slot (slot_recycled_until > now; ADR-042 P2) is held for tenant-
        owner approval. The IdP proof is stashed as a pending
        contact_verification (verification_id); login returns no session.
        The owner approves/rejects via
        POST /tenants/{id}/contact-verifications/{cvId}/approve|reject,
        after which the user re-logs in.
      required: [code, message, tenant_id, user_id, verification_id]
      properties:
        code: { type: string, enum: [first_login_pending_approval] }
        message: { type: string }
        tenant_id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        verification_id: { type: string, format: uuid }

    TenantMembership:
      type: object
      required: [tenant_id, display_name, role, mfa_required]
      properties:
        tenant_id: { type: string, format: uuid }
        display_name: { type: string }
        role:
          type: string
          description: |
            The user's role in this tenant. Any name from the realm's
            role catalog (`GET /platforms/{id}/roles`): the system roles
            `owner` / `admin` / `member` / `viewer` / `platform_api`, or
            a platform-defined custom role (ADR-040). Not a closed enum.
        mfa_required: { type: boolean }
        mfa_methods:
          type: array
          items: { type: string, enum: [totp, otp] }
          description: |
            The MFA methods this membership must satisfy (union of the
            user's enrollment and the role/realm requirements —
            `computeMFAMethods`, ADR-059/075). Empty/omitted when no
            method-specific requirement applies.

    LoginRequest:
      type: object
      required: [grant_type]
      description: |
        ADR-051 (v0.7.0): `/auth/login` is the single
        credential-exchange endpoint. The body's `grant_type`
        discriminates which credentials are presented and which
        subject class the issued tokens carry.

        Inbound bearer rules (the handler dispatches on `grant_type`
        before applying any bearer gate):

        - `provider_token`, `password`, `otp` — **user
          grants**. Require `Authorization: Bearer <platform access
          token>` (the realm's BFF / partner-backend gate, ADR-041 +
          ADR-047). Realm is resolved from the bearer's `realm_id`
          claim; body `realm_id` is ignored.
        - `api_key`, `platform_api_key` — **api-key grants**.
          Unauthenticated; the raw API key travels in the body. Any
          inbound bearer is rejected. The api-key's class must match
          the declared `grant_type`; mismatch → 401
          `key_class_mismatch`.

        The legacy `method` selector (pre-ADR-051) is **removed** at
        its announced `Sunset: 2026-08-01`. A body carrying only
        `method` now 400s `missing_grant_type`; send `grant_type`
        (+ `provider` for `provider_token`). `grant_type=password` is
        reserved and unconditionally 400s `unknown_method`
        (ADR-042 slot).

        ADR-046 (still applies under `provider_token`/`google`):
        `tenant_id` is required on tenant-scoped origins so the
        verifier can pick the tenant's per-tenant `client_id`s (plus
        the platform-default list) to validate `aud`. On realm-root
        origins (e.g. `app.realmid.dev` or a platform's admin
        console apex) discovery returns `tenant_id: null` and the
        field is OPTIONAL — realm-scoped `identity_providers`
        client_ids gate the sign-in instead (issuer v0.27.2).
      oneOf:
        - $ref: '#/components/schemas/LoginRequestProviderToken'
        - $ref: '#/components/schemas/LoginRequestPassword'
        - $ref: '#/components/schemas/LoginRequestOTP'
        - $ref: '#/components/schemas/LoginRequestAPIKey'
        - $ref: '#/components/schemas/LoginRequestPlatformAPIKey'
        - $ref: '#/components/schemas/LoginRequestTokenExchange'
      discriminator:
        propertyName: grant_type
        mapping:
          provider_token:    '#/components/schemas/LoginRequestProviderToken'
          password:          '#/components/schemas/LoginRequestPassword'
          otp:               '#/components/schemas/LoginRequestOTP'
          api_key:           '#/components/schemas/LoginRequestAPIKey'
          platform_api_key:  '#/components/schemas/LoginRequestPlatformAPIKey'
          user_api_key:      '#/components/schemas/LoginRequestUserAPIKey'
          urn:ietf:params:oauth:grant-type:token-exchange: '#/components/schemas/LoginRequestTokenExchange'
      properties:
        grant_type:
          type: string
          enum: [provider_token, password, otp, api_key, platform_api_key, user_api_key, 'urn:ietf:params:oauth:grant-type:token-exchange']
        custom_claims:
          type: object
          additionalProperties: true
          description: |
            Optional partner-supplied claims, gated by
            `realms.config.access_token_custom_claim_keys`
            (SDK SPEC §4.2). Only meaningful on user grants when an
            access token is minted on the first call (single-tenant,
            no MFA). Otherwise pass on `POST /auth/token`.

    LoginRequestProviderToken:
      type: object
      required: [grant_type, provider, token]
      description: |
        Exchange a third-party id-token (Google, Firebase phone
        auth, etc.) for a RealmID refresh token. Inbound bearer:
        platform access JWT.
      properties:
        grant_type: { type: string, enum: [provider_token] }
        provider:
          type: string
          enum: [google, firebase, firebase_phone, microsoft, apple, facebook, github]
          description: |
            `google`, `firebase`, `microsoft`, `apple`, and `facebook`
            have working direct OIDC verifiers. `firebase_phone` is a
            legacy alias for the Firebase verifier. `facebook` accepts
            only the OIDC ID-token ("Limited Login") flavor — the classic
            access token is not supported (it needs an app secret RealmID
            does not store). `github` is post-v1 and listed so the schema
            documents the forward roadmap. The accepted `aud` (client_id;
            for `apple` the Services ID, for `facebook` the app id) is
            resolved per realm/tenant from identity_providers; for
            `firebase` the configured value is the Firebase project id.
            `tenant_id` is optional for every provider on a realm-root
            origin (e.g. app.realmid.dev or a partner admin console),
            where realm-scoped client_ids gate sign-in with no tenant pin.
        token:
          type: string
          description: The provider-issued id-token to exchange.
        tenant_id:
          type: string
          format: uuid
          description: |
            Optional. Pins membership resolution to one tenant; required
            only when a partner end-user origin resolves to a specific
            tenant and the response must be single-tenant. On a realm-root
            origin it is absent — realm-scoped client_ids gate sign-in
            (v0.27.2; ADR-046). When set, the response is single-tenant and
            an access token is minted on the first call.
        custom_claims:
          type: object
          additionalProperties: true
      example:
        grant_type: provider_token
        provider: google
        token: eyJhbGciOiJSUzI1NiIs...
        tenant_id: 018f0c9f-2c1f-7c6c-9a0b-3a8b1d4c2f00

    LoginRequestPassword:
      type: object
      required: [grant_type, identifier, presented]
      description: |
        **Reserved, not implemented.** `grant_type=password` is the
        ADR-042 native u/p schema slot: the grant name is recognised on
        the wire, but there is no native password verifier — the handler
        **unconditionally returns `400 unknown_method`**
        ("grant_type=password not enabled"). The field shapes below are
        the reserved contract for when it ships. Inbound bearer:
        platform access JWT.
      properties:
        grant_type: { type: string, enum: [password] }
        identifier:
          type: string
          description: |
            Identifier the user logs in with — typically email or
            E.164 phone, resolved through the realm's user lookup.
            Resolution failure surfaces as `invalid_credentials`
            (no enumeration).
        presented:
          type: string
          format: password
          description: The presented password.
        tenant_id:
          type: string
          format: uuid
          description: |
            Optional. When set and the user is a member, the
            response is single-tenant and an access token is
            minted on the first call.
        custom_claims:
          type: object
          additionalProperties: true
      example:
        grant_type: password
        identifier: alice@example.com
        presented: hunter2

    LoginRequestOTP:
      type: object
      required: [grant_type, identifier, presented]
      description: |
        OTP login (ADR-071; direct cutover from the former
        `otp` grant). Under ADR-071 this authenticates a
        **service account** (`users.kind=service`) via a `view_bff` OTP
        an owner/admin minted for it (`POST /auth/otp/issue`
        `purpose=login`). The `kind × mode` gate rejects a `kind=human`
        subject here (humans elevate via TOTP, never an owner-minted OTP)
        — failure collapses to `invalid_credentials` (no enumeration).
        Gated by `realms.config.otp_login_enabled`. Inbound bearer:
        platform access JWT.
      properties:
        grant_type: { type: string, enum: [otp] }
        identifier:
          type: string
          description: |
            The service account's login handle (email/phone). Resolved
            against the realm's user lookup. Failure → `invalid_credentials`
            (no enumeration).
        presented:
          type: string
          description: The OTP value minted for the service account.
        tenant_id:
          type: string
          format: uuid
          description: Optional tenant pin (same semantics as `password`).
      example:
        grant_type: otp
        identifier: 'sync-bot@dealer-a.example'
        presented: '038412'

    LoginRequestAPIKey:
      type: object
      required: [grant_type, api_key]
      description: |
        Service api-key exchange. **No inbound bearer** — the raw
        API key travels in `api_key`. The key must have been issued
        as a service key; if it was issued as a platform key the
        server returns 401 `key_class_mismatch`.
      properties:
        grant_type: { type: string, enum: [api_key] }
        api_key:
          type: string
          description: The raw service API key (e.g. `rk_svc_...`).
      example:
        grant_type: api_key
        api_key: rk_svc_live_AbCdEf012345

    LoginRequestUserAPIKey:
      type: object
      required: [grant_type, api_key]
      description: |
        ADR-084 end-user api-key exchange. **No inbound bearer** — the raw key
        travels in `api_key`. Mints a **user-class** session for the key's bound
        user, capped by the key's `permissions_cap`.

        Three things are re-resolved HERE, at every exchange, rather than trusted
        from the key row:

        1. **The key itself** — revoked or past `expires_at` returns the same
           envelope either way, so a holder cannot distinguish the two states.
        2. **Live org membership** — for `org_scope=selected`, `org_ids` no
           longer resolvable are dropped; for `all`, memberships are resolved
           fresh. Revocation on membership loss is an async sweep, not
           transactional (reachability of an org dies through many events across
           other tenants' transactions), so a key may LIST an org it can no
           longer MINT into.
        3. **The MFA floor** — exempt if and only if MFA was proven at mint
           (`minted_mfa_at IS NOT NULL`). Without that exemption a headless
           script could never log in to a realm with a mandatory floor, making
           user keys unusable in exactly the realms that care most.

        The minted token carries `amr: ["api_key"]` with **no** `mfa` entry, so it
        can never satisfy a downstream step-up gate.

        A **partner-audience** key is class-rejected at RealmID's own admin
        surface with `user_key_not_accepted_here`: its `permissions_cap` is
        opaque to RealmID, so there is nothing to intersect and therefore
        nothing to enforce — only to refuse.
      properties:
        grant_type: { type: string, enum: [user_api_key] }
        api_key:
          type: string
          description: |
            The raw user API key. Prefix `uk_live_`, deliberately distinct from
            the admin key's `rk_live_`.
        tenant_id:
          type: string
          format: uuid
          description: |
            Optional target org. Must be within the key's resolved scope, else
            `403 org_not_in_key_scope`. Omitted on a single-org key = that org.
      example:
        grant_type: user_api_key
        api_key: uk_live_AbCdEf012345

    LoginRequestPlatformAPIKey:
      type: object
      required: [grant_type, api_key]
      description: |
        Platform api-key exchange (ADR-041 §1, §3). **No inbound
        bearer** — the raw API key travels in `api_key`. The key
        must have been issued as a platform key; if it was issued
        as a service key the server returns 401
        `key_class_mismatch`. The platform access token returned
        here is what callers present as the inbound bearer for
        the user-facing grants (`provider_token`, `password`,
        `otp`).
      properties:
        grant_type: { type: string, enum: [platform_api_key] }
        api_key:
          type: string
          description: The raw platform API key (e.g. `rk_plat_...`).
      example:
        grant_type: platform_api_key
        api_key: rk_plat_live_AbCdEf012345

    LoginRequestTokenExchange:
      type: object
      required: [grant_type, subject_token]
      description: |
        Workload identity federation exchange (ADR-057). **No inbound
        bearer** — the partner workload's ambient OIDC token (GCP
        metadata server or GitHub Actions) travels in `subject_token`.
        The issuer validates it against the RI-pinned JWKS for its
        issuer, enforces `aud` (the global RI audience) + `iat`-freshness
        + one-time-use, then selects the unique `federation_binding`
        whose `match_claims` all hold and mints the **same**
        `class="platform"` session the `platform_api_key` grant returns —
        including ADR-089's shape: an access token with **no**
        `refresh_token`. Re-mint by exchanging a fresh assertion.
        401 on: unknown issuer, invalid/stale/replayed assertion, audience
        mismatch, or no matching binding.
      properties:
        grant_type:
          type: string
          enum: ['urn:ietf:params:oauth:grant-type:token-exchange']
        subject_token:
          type: string
          description: The workload OIDC JWT (Google ID token or GitHub Actions OIDC token).
        subject_token_type:
          type: string
          enum: ['urn:ietf:params:oauth:token-type:jwt']
          description: Optional; defaults to the JWT token-type URN when omitted.
      example:
        grant_type: 'urn:ietf:params:oauth:grant-type:token-exchange'
        subject_token: eyJhbGciOiJSUzI1NiIsImtpZCI6Ii4uLiJ9.eyJpc3MiOiJodHRwczovL3Rva2VuLmFjdGlvbnMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIn0.sig
        subject_token_type: 'urn:ietf:params:oauth:token-type:jwt'

    LoginResponse:
      description: |
        `/auth/login` response. Three success shapes. The shape is
        selected by `subject_type` and, for users, by tenant
        cardinality + MFA state:

        1. **User, fully resolved** (`subject_type:"user"`,
           single-tenant, no MFA pending): refresh + access +
           tenant_id + role + expires_in + tenants[] + user.
        2. **User, multi-tenant OR MFA pending**
           (`subject_type:"user"`): refresh + tenants[] + user;
           caller picks a tenant via `POST /auth/token`. No
           access_token / tenant_id / role / expires_in.
        3. **Api-key grants** (`subject_type:"service"` |
           `"platform"` via `grant_type=api_key` /
           `platform_api_key`) and the token-exchange grant:
           access + expires_in + `"tenants": []` (present but always
           empty). **No `refresh_token`** — ADR-089: the credential
           itself is re-presentable, so a refresh token would be a
           weaker duplicate of one the caller already holds, and the
           field is omitted entirely. Re-mint by calling this
           endpoint again. No tenant_id, no role — the session is
           pinned to the api-key's bot user / admin tenant.
           NOTE: a **service-account OTP login**
           (`grant_type=otp` resolving a `kind=service` user,
           ADR-071) is *user-shaped*: it returns
           `subject_type:"service"` **with** tenants[] / tenant_id /
           role / user — shapes 1/2 with `subject_type:"service"`.

        **MFA is NOT signalled here.** There is no
        `status:"mfa_required"` login shape — every successful
        credential exchange returns `status:"ok"` **including a
        refresh token** even when MFA is still pending. An
        MFA-requiring membership is flagged per-tenant via
        `tenants[].mfa_required` (which suppresses the shape-1
        access-token fast path), and the `412 mfa_required`
        precondition (`PreconditionMFA`) is raised later, on the
        `POST /auth/token` tenant mint.
      oneOf:
        - $ref: '#/components/schemas/LoginResponseUserResolved'
        - $ref: '#/components/schemas/LoginResponseUserMultiTenant'
        - $ref: '#/components/schemas/LoginResponseM2M'

    LoginResponseUserResolved:
      type: object
      required: [status, subject_type, refresh_token, access_token, tenant_id, role, expires_in, tenants]
      description: |
        Single-tenant user, no MFA pending — fully resolved on the first
        call. `subject_type` is `service` (not `user`) when the resolved
        subject is a `kind=service` account (`grant_type=otp`, ADR-071).
      properties:
        status: { type: string, enum: [ok] }
        subject_type: { type: string, enum: [user, service] }
        user:
          type: object
          required: [id]
          properties:
            id: { type: string, format: uuid }
          description: |
            The resolved subject's user id. Present on every user-grant
            login (even when no access token is minted) so a BFF can
            resolve the user without decoding the JWT `sub`. Omitted on
            api-key (M2M) grants.
        refresh_token: { type: string }
        access_token: { type: string }
        tenant_id: { type: string, format: uuid }
        role: { type: string }
        expires_in: { type: integer, format: int64 }
        tenant_choice_required:
          type: boolean
          description: >
            ADR-092 D5. The caller holds two or more ACTIVE memberships in a
            realm whose `single_tenant_membership` is on, and must settle the
            picker via POST /me/tenant-choice. Optional; omitted when false.

            This login SUCCEEDED — an access token is still issued, and the
            field is a reconciliation prompt, not an authentication failure.
            Treating it as an auth error would strand exactly the users the
            drain exists to resolve, leaving them no credential to answer with.
        tenant_choices:
          type: array
          description: >
            ADR-092 D5. The memberships the picker may choose between; present
            only alongside `tenant_choice_required`. The chosen membership is
            KEPT and the others are suspended (recoverable) with their sessions
            revoked.
          items:
            type: object
            properties:
              tenant_id: { type: string, format: uuid }
              display_name: { type: string }
              is_owner:
                type: boolean
                description: >
                  This membership CANNOT be given up — `tenants.owner_user_id`
                  is NOT NULL, so revoking it would leave the tenant ownerless.
                  The server refuses such a choice with 409
                  `owner_cannot_be_revoked`; clients should not offer it, and
                  must still handle the refusal since the client is not the
                  authority.
        refresh_exp:
          type: integer
          format: int64
          description: >
            Absolute wall-clock expiry (unix seconds) of the refresh token —
            the min of the rolling refresh TTL, the ADR-054 scheduled cutoff,
            and the ADR-058 absolute session cap. Distinct from `expires_in`
            (the access-token lifetime, in seconds). Optional and
            forward-compatible: absent on pre-refresh_exp issuers, so a
            consumer sizing a session from it must fall back to its own ceiling
            when absent/zero.
        idle_ttl:
          type: integer
          format: int64
          description: >
            Realm-configured idle (inactivity) session timeout, in seconds —
            a sliding-window DURATION (resets on each request), NOT an absolute
            expiry (ADR-070). The BFF force-logs-out a session idle for longer
            than this; the issuer only reports the value. Absent / 0 = idle
            timeout disabled for this realm (the default). Sourced straight
            from `realms.config.idle_ttl_seconds` with no min-of-three compute.
        tenants:
          type: array
          items: { $ref: '#/components/schemas/TenantMembership' }
      example:
        status: ok
        subject_type: user
        refresh_token: rt_...
        access_token: eyJhbGciOi...
        tenant_id: 018f0c9f-2c1f-7c6c-9a0b-3a8b1d4c2f00
        role: owner
        expires_in: 900
        refresh_exp: 1782043200
        idle_ttl: 1800
        user:
          id: 018f0c9f-2c1f-7c6c-9a0b-3a8b1d4c2f99
        tenants:
          - tenant_id: 018f0c9f-2c1f-7c6c-9a0b-3a8b1d4c2f00
            display_name: Acme Inc
            role: owner
            mfa_required: false

    LoginResponseUserMultiTenant:
      type: object
      required: [status, subject_type, refresh_token, tenants]
      description: |
        Multi-tenant user — or a single-tenant user whose membership has
        `mfa_required:true` (the access-token fast path is suppressed).
        Caller must pick a tenant and call `/auth/token` with the
        refresh + `tenant_id` (which raises `412 mfa_required` when MFA
        is still unsatisfied for that tenant).
      properties:
        status: { type: string, enum: [ok] }
        subject_type: { type: string, enum: [user, service] }
        user:
          type: object
          required: [id]
          properties:
            id: { type: string, format: uuid }
          description: The resolved subject's user id (see LoginResponseUserResolved.user).
        refresh_token: { type: string }
        tenants:
          type: array
          items: { $ref: '#/components/schemas/TenantMembership' }
      example:
        status: ok
        subject_type: user
        refresh_token: rt_...
        tenants:
          - tenant_id: 018f0c9f-2c1f-7c6c-9a0b-3a8b1d4c2f00
            display_name: Acme Inc
            role: owner
            mfa_required: false
          - tenant_id: 018f0c9f-2c1f-7c6c-9a0b-3a8b1d4c2f01
            display_name: Beta Co
            role: member
            mfa_required: true

    LoginResponseM2M:
      type: object
      required: [status, subject_type, refresh_token, access_token, expires_in, tenants]
      description: |
        Api-key (M2M) login — pinned to the api-key's bot user + admin
        tenant. `tenants` is present but **always `[]`** on this shape;
        `tenant_id` / `role` / `user` are omitted (those are user
        concepts). Emitted by `grant_type=api_key` / `platform_api_key`
        only — a service-account **OTP** login is user-shaped (see
        `LoginResponse` shape 3 note).
      properties:
        status: { type: string, enum: [ok] }
        subject_type:
          type: string
          enum: [service, platform]
        refresh_token: { type: string }
        access_token: { type: string }
        expires_in: { type: integer, format: int64 }
        tenants:
          type: array
          maxItems: 0
          items: { $ref: '#/components/schemas/TenantMembership' }
          description: Always the empty array on api-key grants.
        refresh_exp:
          type: integer
          format: int64
          description: >
            Absolute refresh-token expiry (unix seconds); see
            LoginResponseUserResolved.refresh_exp. Optional.
        idle_ttl:
          type: integer
          format: int64
          description: >
            Realm idle-timeout duration (seconds); see
            LoginResponseUserResolved.idle_ttl. Absent / 0 = disabled. Optional.
      example:
        status: ok
        subject_type: platform
        refresh_token: rt_...
        access_token: eyJhbGciOi...
        expires_in: 300
        refresh_exp: 1782043200
        tenants: []

    TokenRequest:
      type: object
      description: |
        Refresh-token rotation. The body's `tenant_id` is **required
        only** when selecting a tenant for a multi-tenant user
        (response shape #2 from `/auth/login`). For service /
        platform refresh tokens, `tenant_id` is **ignored** — those
        sessions are pinned to the api-key's admin tenant.
      properties:
        tenant_id:
          type: string
          format: uuid
          description: |
            Required for multi-tenant user pick. Ignored when the
            refresh token's `subject_type` is `service` or
            `platform`.
        refresh_token:
          type: string
          description: Optional — refresh may also arrive via Authorization header.
        custom_claims:
          type: object
          additionalProperties: true
          description: |
            Optional partner-supplied claims, gated by
            `realms.config.access_token_custom_claim_keys`
            (SDK SPEC §4.2).

            A key that collides with a reserved JWT claim name is now
            **refused** with 400 `reserved_claim_key`, not dropped
            (ADR-097 D3). A dropped claim is indistinguishable, from your
            side, from an honoured one — and once `scope` carries granted
            authority, that difference is a gate that never fires.
        scope:
          type: string
          description: |
            **ADR-097 §A — granted authority, space-delimited.**

            RFC 9068 §2.2.3, which defines the claim by reference to RFC
            8693 §4.2 ("a JSON string containing a space-separated list of
            scopes") in RFC 6749 §3.3 format. A STRING, not an array.

            These are **your** scope strings. RealmID stores no partner
            catalog: the values are never parsed, validated against a
            vocabulary, persisted, or interpreted. Your repo owns the
            route -> scope and role -> scope maps; the RealmID SDK is the
            gate that evaluates them.

            **Charset (RFC 6749 §3.3):** `%x21 / %x23-5B / %x5D-7E` —
            printable ASCII minus SPACE, `"` and `\`. Case-SENSITIVE, no
            normalization. A space inside a value would split one scope into
            two, so a malformed entry is refused at mint (`invalid_scope`)
            rather than silently reshaped.

            **Bounded** by the realm's `user_api_keys.max_permission_strings`
            and `max_permission_string_len` (defaults 32 / 128) —
            `too_many_scopes` / `scope_too_long`. The same knobs, not a
            second vocabulary for the same kind of string.

            **Intersected server-side.** When the session came from a user
            API key, the minted claim is `scope` INTERSECTED with the key's
            live `permissions_cap` — exact string match, no wildcards, no
            hierarchy. RealmID does this so that a caller who bypasses the
            SDK still receives a narrowed token.

            **Re-resolved on every call.** The claim is never stored on the
            session: send it each time. Omitting it mints no `scope` at all.

            **Revocation lag.** A token-carried scope is only as fresh as
            the token: revoking a grant takes effect within
            `access_ttl_seconds`. Where a stale grant is unacceptable —
            money movement, permission administration, data export — use the
            SDK's `CapAllows`, which reads live and has zero lag.

            Not accepted on a service-class refresh (`scope_not_supported`).

    TokenResponse:
      type: object
      required: [status, subject_type, access_token, refresh_token, expires_in]
      description: |
        Access + rotated-refresh response. `tenant_id` and `role`
        are present only when `subject_type=user`; absent for
        `service` refresh. ADR-089: a credential-bootstrapped
        session (api key / WIF) has NO refresh token, so this
        endpoint serves only users and ADR-071 service accounts.
        `refresh_token` is rotated unconditionally for users; for
        a service account only when the realm has opted in via
        `service_refresh_rotates` (otherwise the same refresh is
        echoed back unchanged).
      properties:
        status: { type: string, enum: [ok] }
        subject_type:
          type: string
          enum: [user, service, platform]
        access_token: { type: string }
        refresh_token: { type: string }
        expires_in: { type: integer, format: int64 }
        refresh_exp:
          type: integer
          format: int64
          description: >
            Absolute expiry (unix seconds) of the rotated refresh token (or,
            when rotation is off for a service/platform refresh, of the
            unchanged echoed token); see
            LoginResponseUserResolved.refresh_exp. Optional.
        idle_ttl:
          type: integer
          format: int64
          description: >
            Realm idle-timeout duration (seconds); see
            LoginResponseUserResolved.idle_ttl. Absent / 0 = disabled. Optional.
        tenant_id:
          type: string
          format: uuid
          description: User refresh only.
        role:
          type: string
          description: User refresh only.
      example:
        status: ok
        subject_type: user
        access_token: eyJhbGciOi...
        refresh_token: rt_...
        expires_in: 900
        refresh_exp: 1782043200
        idle_ttl: 1800
        tenant_id: 018f0c9f-2c1f-7c6c-9a0b-3a8b1d4c2f00
        role: owner

    MFAVerifyRequest:
      type: object
      required: [mfa_challenge_token, code]
      properties:
        mfa_challenge_token: { type: string }
        code: { type: string }
        method:
          type: string
          enum: [totp, otp]
          description: |
            Which MFA method this verify is completing. Defaults to
            `totp` for backward compatibility. Set `otp` to
            consume an OTP minted via `POST /auth/otp/issue`
            (gated by `realms.config.otp_mfa_enabled` and per-user /
            per-role enrollment in `otp`). The first-factor
            login response's `methods[]` lists which values are valid
            here for the current challenge.

    MFAVerifyResponse:
      type: object
      description: |
        SPEC §10.4 — successful verify returns a freshly minted access token
        (with the new `mfa_at` claim) plus a rotated refresh, so the client
        can resume the original protected operation in one round trip. The
        access token's claim set is identical to the /auth/login response —
        see AccessTokenClaims for the full claim list, including `mfa_at`.
      required: [status, access_token, refresh_token, expires_in, tenant_id, role, mfa_at]
      properties:
        status: { type: string, enum: [ok] }
        access_token: { type: string }
        refresh_token: { type: string }
        expires_in: { type: integer, format: int64 }
        refresh_exp:
          type: integer
          format: int64
          description: >
            Absolute expiry (unix seconds) of the rotated refresh token; see
            LoginResponseUserResolved.refresh_exp. Optional.
        idle_ttl:
          type: integer
          format: int64
          description: >
            Realm idle-timeout duration (seconds); see
            LoginResponseUserResolved.idle_ttl. Absent / 0 = disabled. Optional.
        tenant_id: { type: string, format: uuid }
        role: { type: string }
        mfa_at:
          type: integer
          format: int64
          description: Unix-seconds timestamp of the MFA verify just completed.

    MFAChallengeResponse:
      type: object
      description: |
        SPEC §10.4 — POST /auth/mfa/challenge mints a step-up challenge token
        for an already-verified access token. SDK middleware calls this when
        a route requires fresh MFA but the caller's access token is missing
        or stale on `mfa_at`. Auth: bearer of the user's current access
        token (NOT a platform token).
      required: [mfa_challenge_token, methods]
      properties:
        mfa_challenge_token: { type: string }
        methods:
          type: array
          items: { type: string, enum: [totp] }
          description: Supported challenge methods. Today only `totp`.

    # ---- partner OTP primitive (v0.6.0, proposal partner-otp-primitive.md) ----

    OTPIssueRequest:
      type: object
      required: [subject_ref, purpose]
      properties:
        subject_ref:
          type: string
          description: |
            Opaque tenant-scoped key the OTP gates. Conventionally
            `"user:<uuid>"`, `"booking:<uuid>"`, `"payout:<uuid>"`,
            etc. RealmID does not interpret the prefix — EXCEPT for
            `purpose: "login"` (ADR-071 §5), where the server re-derives
            a canonical `"user:<service-account-id>"` from the validated
            target and ignores any caller-supplied value (a login OTP is
            a become-the-subject credential and is never minted from an
            untrusted subject_ref).
        purpose:
          type: string
          description: |
            Opaque tenant-scoped purpose label. Examples: `"login"`,
            `"delivery"`, `"payout_approval"`. Pattern
            `^[a-z][a-z0-9_]{0,63}$`. `purpose: "login"` is the
            **mint-gate** (ADR-071 §5): the effective caller must be
            owner/admin of the tenant and the target `subject_ref` must
            reference a `kind=service` account in that tenant — else
            `403`. Other purposes keep the open-to-any-tenant-member
            behavior of the partner OTP primitive.
        delivery_mode:
          type: string
          enum: [view_bff, email]
          default: view_bff
          description: |
            Mint transport (ADR-071 §4, threaded by ADR-095 D7).

            `view_bff` (the default when omitted) returns the plaintext code
            to the authorized caller in the response `value`, to be relayed
            out-of-band. This is unchanged, and an omitted field still means
            exactly this.

            `email` has RealmID deliver the code to the SUBJECT. The caller
            does **not** receive the plaintext — `value` is omitted from the
            response and `delivered` reports `email`. Returning the code as
            well would make the mode confer nothing.

            **`email` is refused for `purpose=login`** with
            `400 unsupported_delivery_mode`: that path targets a `kind=service`
            account (ADR-071 §5), which has no mailbox, so there is no correct
            destination for the message.

            Errors: `400 unsupported_delivery_mode` (unknown mode, or `email`
            on a login OTP); `400 no_delivery_address` (the subject has no
            email on record — the issue FAILS rather than returning an id for
            a code nobody will receive); `503 delivery_unavailable` (the mode
            is legal but this deployment has no transport wired).

            `sms`/`whatsapp` remain deferred behind the
            credential-custodian/KMS work and still return
            `400 unsupported_delivery_mode`.

    OTPIssueResponse:
      type: object
      required: [id, expires_at, purpose, subject_ref]
      properties:
        id: { type: string, format: uuid }
        value:
          type: string
          description: |
            Plaintext OTP. Length is `realms.config.otp_length` (default
            6, range 4..10). The caller is responsible for delivery (UI
            display, partner SMS / email). Re-displayable via
            `GET /auth/otp/{id}` until TTL expires.

            **OMITTED when `delivery_mode=email`** (ADR-095 D7): RealmID
            delivered the code to the subject, so the caller does not get it.
            Check `delivered` to tell that apart from a fault.
        delivered:
          type: string
          enum: [view_bff, email]
          description: |
            The transport actually used (ADR-095 D7). Lets a caller
            distinguish "no `value` because it was emailed" from "no `value`
            because something broke".
        expires_at:
          type: string
          format: date-time
          description: RFC3339 UTC timestamp; TTL = `realms.config.otp_ttl_seconds`.
        purpose: { type: string }
        subject_ref: { type: string }

    OTPViewResponse:
      type: object
      required: [id, value, expires_at, purpose, subject_ref, issuer_user_id]
      properties:
        id: { type: string, format: uuid }
        value: { type: string }
        expires_at: { type: string, format: date-time }
        purpose: { type: string }
        subject_ref: { type: string }
        issuer_user_id:
          type: string
          format: uuid
          description: |
            User-id of the actor that called `/auth/otp/issue`.
            Available on view because the issuer typically re-displays
            their own code in the partner UI.

    OTPVerifyRequest:
      type: object
      required: [subject_ref, purpose, presented]
      properties:
        subject_ref: { type: string }
        purpose: { type: string }
        presented:
          type: string
          description: The OTP value the consumer entered.

    OTPVerifyResponse:
      type: object
      required: [otp_id, issuer_user_id, issued_at, subject_ref, purpose]
      properties:
        otp_id: { type: string, format: uuid }
        issuer_user_id:
          type: string
          format: uuid
          description: |
            Denormalised on the verify response so partner audit logs
            can attribute the action to the issuer without a follow-up
            RealmID query (the matched row may be purged later).
        issued_at:
          type: string
          format: date-time
          description: RFC3339 UTC creation time of the consumed row.
        subject_ref: { type: string }
        purpose: { type: string }

    AccessTokenClaims:
      type: object
      description: |
        Reference shape of the access-token JWT payload. Wire token is
        RS256-signed JWT; this schema documents the claim set the verifier
        returns (`realm.verify`).
      properties:
        iss: { type: string }
        sub: { type: string }
        aud: { type: string }
        iat: { type: integer, format: int64 }
        nbf: { type: integer, format: int64 }
        exp: { type: integer, format: int64 }
        jti: { type: string }
        azp: { type: string }
        tenant_id: { type: string, format: uuid }
        role: { type: string }
        mfa_at:
          type: integer
          format: int64
          description: |
            SPEC §10.4 — unix-seconds timestamp of the most recent successful
            MFA verify against the bearer's session. Omitted when the session
            has no MFA proof. SDK middleware uses this to enforce the
            per-route freshness gate locally.

    LogoutRequest:
      type: object
      properties:
        refresh_token: { type: string }
        all: { type: boolean, default: false }

    StatusOK:
      type: object
      properties:
        status: { type: string, example: ok }

    # ---- identity providers (ADR-046, v0.5.3) ----

    IdentityProvider:
      type: object
      required:
        [id, entity_type, entity_id, provider, client_type, client_id,
         allowed_origins, comments, enabled, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        entity_type: { type: string, enum: [realm, tenant] }
        entity_id: { type: string, format: uuid }
        provider:
          type: string
          enum: [google, microsoft, firebase, facebook, apple]
        client_type:
          type: string
          enum: [web, ios, android, desktop, other]
        client_id: { type: string }
        app_id:
          type: string
          format: uuid
          description: |
            The `sources.id` this registration is bound to (ADR-072 §1 /
            § Amendment, app-first registration). Omitted/empty =
            legacy/unrestricted row.
        allowed_origins:
          type: array
          items: { type: string }
          description: |
            Required and validated when `client_type=web`; rejected
            (400) when `client_type` is non-web. Each entry must parse
            as a URL with scheme + host.
        comments: { type: string }
        config:
          type: object
          additionalProperties: { type: string }
          description: |
            Provider-specific PUBLIC config (e.g. the Firebase web
            config: `apiKey`, `authDomain`, `projectId`, `appId`).
            Echoed verbatim on discovery so a browser SDK can bootstrap
            sign-in with no app-side config. All values are publishable —
            never store secrets here. Omitted when empty.
        enabled: { type: boolean }
        created_at: { type: integer, format: int64 }
        updated_at: { type: integer, format: int64 }

    IdentityProviderList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/IdentityProvider' }

    CreateIdentityProviderRequest:
      type: object
      required: [platform_id, provider, client_type, client_id]
      properties:
        platform_id: { type: string, format: uuid }
        tenant_id:
          type: string
          format: uuid
          description: |
            Omit for realm-scoped rows; set for tenant-scoped rows.
            When set, the tenant must belong to `platform_id`.
        provider:
          type: string
          enum: [google, microsoft, firebase, facebook, apple]
        client_type:
          type: string
          enum: [web, ios, android, desktop, other]
        client_id: { type: string }
        app_id:
          type: string
          format: uuid
          description: |
            Optional: bind this registration to a human app/source
            (ADR-072 § Amendment). Must reference a source in the same
            platform (400 `app_not_found` / `app_platform_mismatch`) of
            a human type (400 `app_kind_mismatch` for a bot source).
            Empty/omitted = legacy/unrestricted.
        allowed_origins:
          type: array
          items: { type: string }
        comments: { type: string }
        config:
          type: object
          additionalProperties: { type: string }
          description: |
            Provider-specific PUBLIC config (e.g. the Firebase web
            config: `apiKey`, `authDomain`, `projectId`, `appId`).
            Echoed verbatim on discovery. All values are publishable —
            never store secrets here.

    PatchIdentityProviderRequest:
      type: object
      description: |
        Sparse update. At least one of `enabled`, `client_id`,
        `allowed_origins`, `comments`, `config`, `app_id` must be
        supplied. Supplying `config` replaces the whole config map.
      properties:
        enabled: { type: boolean }
        client_id: { type: string }
        app_id:
          type: string
          format: uuid
          description: |
            Re-bind (or, with `""`, clear) the row's app binding
            (ADR-072 § Amendment). Omitted = leave unchanged. A non-empty
            value is validated like create (400 `app_not_found` /
            `app_platform_mismatch` / `app_kind_mismatch`).
        allowed_origins:
          type: array
          items: { type: string }
        comments: { type: string }
        config:
          type: object
          additionalProperties: { type: string }
          description: |
            Provider-specific PUBLIC config. Replaces the stored map
            wholesale (not merged). Publishable values only.

    PublicIdentityProvider:
      type: object
      required: [type, client_type, client_id]
      properties:
        type:
          type: string
          enum: [google, microsoft, firebase, facebook, apple]
        client_type:
          type: string
          enum: [web, ios, android, desktop, other]
        client_id: { type: string }
        config:
          type: object
          additionalProperties: { type: string }
          description: |
            Provider-specific PUBLIC config (e.g. the Firebase web
            config). Present only when non-empty; lets a browser SDK
            bootstrap sign-in with no app-side config.

    PublicIdentityProviderResponse:
      type: object
      required: [providers]
      properties:
        providers:
          type: array
          items: { $ref: '#/components/schemas/PublicIdentityProvider' }

    # ---- platforms ----

    ClaimDomainRequest:
      type: object
      required: [domain]
      properties:
        domain: { type: string, example: automahn.com }

    ClaimDomainResponse:
      type: object
      properties:
        domain: { type: string }
        status: { type: string, enum: [pending, verified] }
        dns_record_name: { type: string, example: _realmid-verification.automahn.com }
        dns_record_value: { type: string }

    PendingDomain:
      type: object
      description: |
        A pending domain claim as listed by `GET /domains/pending` — the
        claim response shape plus created/expiry timestamps (unix seconds).
      properties:
        domain: { type: string }
        status: { type: string, enum: [pending] }
        dns_record_name: { type: string, example: _realmid-verification.automahn.com }
        dns_record_value: { type: string }
        created_at: { type: integer, format: int64 }
        expires_at: { type: integer, format: int64 }

    VerifyDomainRequest:
      type: object
      required: [domain]
      properties:
        domain: { type: string }

    ImportUsersRequest:
      type: object
      required: [users]
      properties:
        users:
          type: array
          maxItems: 1000
          items: { $ref: '#/components/schemas/ImportUserRow' }
    ImportUserRow:
      type: object
      required: [role]
      description: At least one of `email`/`phone` is required.
      properties:
        user_id:
          type: string
          format: uuid
          description: |
            Optional. When present it becomes `users.id` (bring-your-own,
            reconciles if it already exists in THIS tenant, rejects the file if
            it exists in another). When absent a UUIDv7 is minted and returned.
        email: { type: string }
        phone: { type: string, description: E.164 (leading '+') }
        role:
          type: string
          description: Validated against the realm catalog; `owner`/`platform_api` rejected.
        display_name: { type: string }
        provider:
          type: string
          enum: [google, microsoft, apple, facebook, firebase]
          description: With `provider_uid`, writes an exact first-SSO binding.
        provider_uid: { type: string }
        created_at:
          type: string
          format: date-time
          description: |
            Optional RFC3339 "member since" timestamp (ADR-073 C.4); absent ⇒
            import-time. `invalid_created_at` on a malformed value.
    InlineOwner:
      type: object
      description: |
        Seats a tenant's owner inline at create (ADR-073 Amendment C.2). At
        least one of `email`/`phone` is required. There is deliberately NO
        `role` — the owner is provisioned with the dormant `member` role
        (ADR-076: ownership is the `owner_user_id` pointer, not the role name);
        the owner's real app-role, if any, arrives via the roster import that
        reuses the same `user_id`.
      properties:
        user_id:
          type: string
          format: uuid
          description: Optional bring-your-own owner id; absent ⇒ minted.
        email: { type: string }
        phone: { type: string, description: E.164 (leading '+') }
        display_name: { type: string }
        provider:
          type: string
          enum: [google, microsoft, apple, facebook, firebase]
          description: With `provider_uid`, writes the owner's exact first-SSO binding.
        provider_uid: { type: string }
    ImportUsersResponse:
      type: object
      properties:
        committed:
          type: boolean
          description: false → validation rejected the file; nothing was written.
        imported: { type: integer }
        updated: { type: integer }
        failed: { type: integer }
        rows:
          type: array
          items:
            type: object
            properties:
              line: { type: integer, description: 1-based row index }
              user_id: { type: string, description: bring-your-own or minted-and-returned }
              identifier: { type: string }
              status: { type: string, enum: [created, updated, failed, ok] }
              error: { type: string }
              error_hint: { type: string }

    CreatePlatformRequest:
      type: object
      required: [display_name, slug]
      properties:
        display_name: { type: string }
        domain:
          type: string
          description: |
            Optional custom apex (ADR-073 Release A). Omit to create a
            domainless platform whose routing domain is
            `<slug>.realmid.dev`. When supplied it must be a caller-owned
            verified domain (`412 domain_not_verified` otherwise).
        slug:
          type: string
          description: |
            URL-safe globally-unique identifier. Used to derive the
            auto-bound RealmID-hosted login surface
            `<slug>.realmid.dev` (a `domain_mappings` row is inserted at
            create time, sharing the apex's verification_id since RealmID
            owns the realmid.dev zone). Format: 1–63 chars, lowercase
            ASCII letters, digits, and hyphens, no leading/trailing
            hyphen. The following names are reserved for first-party
            RealmID surfaces and rejected with `409 reserved_slug`:
            `console`, `app`, `auth`, `api`, `www`, `status`, `admin`.

    CreatePlatformResponse:
      type: object
      properties:
        platform_id: { type: string, format: uuid }
        admin_tenant_id: { type: string, format: uuid }
        domain: { type: string }
        slug: { type: string }
        hosted_login_domain:
          type: string
          description: |
            Auto-bound `<slug>.realmid.dev` subdomain. Empty when the
            partner's apex is itself under `realmid.dev` (in which case
            the apex bind already covers the hosted login surface).
        platform_api_user_id:
          type: string
          format: uuid
          description: |
            ADR-041 — bot user provisioned in the new admin tenant. Backs
            every API key minted for this realm by default. Pass this id
            (or another platform_api/owner user in the admin tenant) as
            user_id on POST /platforms/{id}/api-keys to bind a key.

    PlatformInvite:
      type: object
      required: [email]
      properties:
        email: { type: string }
        role: { type: string, enum: [owner, member], default: owner }

    # ---- tenants / realms / config ----

    Tenant:
      type: object
      properties:
        id: { type: string, format: uuid }
        realm_id: { type: string, format: uuid }
        display_name: { type: string }
        status: { type: string, enum: [active, suspended, deactivated] }
        config:
          $ref: '#/components/schemas/TenantConfig'
        owner:
          allOf: [{ $ref: '#/components/schemas/User' }]
          nullable: true
          description: |
            Inline owner of this tenant (role=owner). Populated on list
            responses (`GET /tenants`, `GET /platforms/{pid}/tenants`) so
            admin UIs avoid an N+1 fan-out, and on `GET /tenants/{id}` (one
            lookup, so no fan-out concern). `null` when no owner is seated yet (e.g., a freshly
            minted admin tenant before the invite is accepted).
        users_count:
          type: integer
          description: |
            Dashboard rollup column. The tenant's FULL roster size — every
            `users` row in the tenant regardless of `status` (active, invited,
            suspended, deactivated) or `kind` (human, service), so it matches
            the count the org's own Users page shows.

            Populated ONLY on `GET /platforms/{pid}/tenants`, where one
            realm-scoped aggregate covers the whole page. **Absent** (not `0`)
            on every other surface — render an absent value as unknown.
        last_activity_at:
          type: integer
          format: int64
          description: |
            Dashboard rollup column, unix seconds. `MAX(audit_log.occurred_at)`
            for this tenant — the same definition `last_activity_at` uses at
            platform scope on `GET /admin/platforms`. Reflects AUDITED events
            only (an org whose users merely sign in without triggering an
            audited action will not move it).

            Populated on `GET /platforms/{pid}/tenants` and on
            `GET /tenants/{id}`, and **absent** when the tenant has never had
            an audited event — render absent as unknown, never as the epoch.
        member_count:
          type: integer
          description: |
            People currently on this tenant's roster: `users` rows with
            `kind='human'` AND `status <> 'invited'`.

            A DEACTIVATED member IS counted — they are still on the roster and
            still administrable. An INVITED row is NOT: an invitation is an
            offer, not a membership. A `kind='service'` row is not counted at
            all — a bot is not a member of a team.

            This is deliberately not derivable from `users_count`, which is
            every row regardless of status or kind and therefore already
            contains every pending invitation and every service account.

            Populated ONLY on `GET /tenants/{id}`, computed best-effort:
            **absent** (not `0`) when the aggregate could not be computed, so
            render an absent value as unknown. It exists on this endpoint
            because a platform owner may READ one of their orgs
            (`authorizeTenantRead` has a parent branch) but may NOT read its
            user roster (`GET /tenants/{id}/users` does not) — ADR-067. The
            aggregate is what that persona can be shown.
        pending_invitation_count:
          type: integer
          description: |
            `users` rows in this tenant with `status='invited'` — the exact
            precondition the accept/reject endpoints enforce.

            Same surface and same absent-vs-zero contract as `member_count`
            above. `member_count` and `pending_invitation_count` are disjoint
            by construction and both are subsets of `users_count`.

    TenantConfig:
      type: object
      properties:
        mfa_policy:
          type: string
          enum: [off, opt_in, required_for_all]
        signup_mode:
          type: string
          enum: [closed, allowlist, open]
          description: |
            ADR-045 auto-provisioning policy:
              - `closed`    invitation-only; domain grants ignored.
              - `allowlist` first-time login matches when the verified email
                            domain has an ACTIVE, proven `tenant_domains`
                            grant for this tenant (ADR-094 D10). A tenant
                            with no such grant matches nobody — a legal,
                            fail-closed state, since a grant can be revoked
                            or fail re-verification with no write here.
              - `open`      every authenticated user is provisioned (incl.
                            phone-only). Allowed only on the base realm's
                            admin tenant; rejected at config-write time
                            on every other tenant.

    TenantPatch:
      type: object
      properties:
        display_name: { type: string }
        status: { type: string, enum: [active, suspended, deactivated] }

    TenantConfigPatch:
      type: object
      description: Allowlist — unknown keys return 400 `unknown_config_key`.
      properties:
        mfa_policy: { type: string, enum: [off, opt_in, required_for_all] }
        signup_mode:
          type: string
          enum: [closed, allowlist, open]
          description: |
            Auto-provisioning policy (ADR-045). One write-time invariant
            remains:
              - `open` is rejected on every tenant other than the base
                realm's admin tenant (`signup_mode_invalid_for_tenant`).

            **BREAKING (ADR-094 R3):** `allowed_domains` is no longer a key
            here and now returns 400 `unknown_config_key`. The domains that
            drive auto-provisioning are `tenant_domains` grants, claimed and
            proven through `/platforms/{pid}/tenants/{tid}/domains` — a
            settable allowlist required no proof of control, which is what
            let a domain confer access nobody had demonstrated. The two
            domain invariants went with the column: a grant can be revoked,
            or fail re-verification, without any write to `signup_mode`, so
            enforcing them here would have refused a state the system
            reaches on its own.
        role_overrides:
          type: array
          items: { type: string }
          description: |
            Org-governance (roles overhaul): the set of realm-role names this
            org (tenant) has DISABLED for itself. Disable-only — an org can
            hide a role the platform defined but cannot create or re-enable
            roles. Each name must exist in the realm catalog; `owner` is
            rejected. Replaced wholesale on every patch. The org's effective
            role set = enabled realm roles minus this list.
        default_invitation_role:
          type: string
          description: |
            Org-level default invitation role, overriding the realm default
            when set. Must be an enabled realm role that is not in
            `role_overrides` and is not `owner`. Empty string clears it (falls
            back to the realm default).

    SSODomainGrant:
      type: object
      description: |
        One row of `tenant_domains` (ADR-094): an organization's grant to
        auto-provision users from an email domain, together with the evidence
        backing it.
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        domain:
          type: string
          description: |
            Normalized lowercase hostname. Subdomains are SEPARATE entities and
            match exactly (D13) — a grant on `acme.com` does not cover
            `eng.acme.com`. This deliberately differs from ADR-049 routing,
            where a verified apex covers its subdomains; two rules coexist for
            two purposes, and harmonizing them would silently widen SSO.
        method:
          type: string
          enum: [dns_txt, html_file, meta_tag, platform_approval, self_asserted]
        status:
          type: string
          enum: [claimed, pending, active, suspended, rejected, revoked, failed]
          description: |
            Only `active` provisions. `suspended` is recoverable and is what the
            D9 resolution ladder and org soft-delete leave behind; `failed` is a
            proven grant whose re-check failed for 7 consecutive days, which is
            what releases the domain to a challenger.
        verified:
          type: boolean
          description: |
            TRUE only for REAL proof. Derived from `verified_at`, never from
            `status` or `method`, so an approved or self-asserted grant can
            never read as proven. A schema CHECK enforces the same thing at the
            storage layer.
        verified_at: { type: string, format: date-time, nullable: true }
        approved_at: { type: string, format: date-time, nullable: true }
        rejected_reason: { type: string, nullable: true }
        requested_at: { type: string, format: date-time }
        last_checked_at: { type: string, format: date-time, nullable: true }
        check_failing_since:
          type: string
          format: date-time
          nullable: true
          description: |
            When the current run of consecutive re-check failures began; cleared
            on the first success. The grant goes `failed` 7 days after this.
        cooldown_until:
          type: string
          format: date-time
          nullable: true
          description: Re-requesting this domain is refused until this passes.
        created_at: { type: string, format: date-time }

    RealmConfigPatch:
      type: object
      description: Allowlist — unknown keys return 400 `unknown_config_key`.
      properties:
        concurrent_session_limit:
          type: integer
          minimum: 0
          description: |
            ADR-092 D1/D2. Live tenant-scoped sessions allowed per membership;
            `0` means unlimited. A DEFAULT, not a cap — `realm_roles.
            concurrent_session_limit` overrides it in BOTH directions.

            **The login mechanism does not decide concurrency.** The gate sits
            in `mintAccessTokenWithBroker`, the single choke point every
            tenant-scoped access token passes through, so it applies to
            `grant_type=otp` and service-account logins exactly as it does to
            provider-token logins. There is no per-grant exemption.

            Machine principals are handled at CONFIG time, not exempted at mint
            time: setting a limit on a role whose `assignable_to` includes
            `service` is refused with `session_limit_not_allowed_for_service_role`,
            because N pods logging in as one bot are one user row and a limit
            there turns a rolling deploy into an outage.

            A renewal is never refused — the check asks whether admitting this
            session would push the membership over, so a refresh of an existing
            (jti, tenant) mint is always allowed.
        invitation_acceptance:
          type: string
          enum: [auto, explicit]
          default: auto
          description: |
            ADR-095 D2. How an invitation into a tenant in this realm becomes a
            live membership.

            `auto` (the default, and what every realm did before ADR-095) flips
            the invited membership to active on the invitee's next sign-in
            ANYWHERE in this realm, with no prompt. That makes an invitation a
            unilateral cross-tenant membership grant — fine for a platform whose
            invitees are expected, wrong for one where a person can be pulled
            into several customer orgs.

            `explicit` requires the invitee to accept via
            `POST /me/invitations/{tenantId}/accept` (or decline via the
            `/reject` sibling). Until they do, the membership stays
            `status='invited'` and is surfaced on `GET /me` with
            `pending_first_signin: true`.

            **Exception (D3):** even in `explicit` mode, an invitation
            auto-accepts when it is the invitee's ONLY membership in the realm.
            That case is invite-only onboarding rather than a cross-org grant,
            and refusing it would strand a first-time invitee with no console on
            which to accept the invitation that would give them one.

            An ABSENT value means `auto`. Changing the mode affects invitations
            not yet accepted; it never retroactively un-joins anyone.
        single_tenant_membership:
          type: boolean
          description: |
            ADR-092 D4. When true a person may belong to at most ONE tenant in
            this realm. Default false.

            Counts ACTIVE memberships only — an invitation is a users row with
            status='invited', and a suspended row is what the D5 picker leaves
            behind; treating either as a violation would contradict D5, which
            deliberately lets a user keep and decline their invites.

            Does NOT apply to the base realm or to a realm's admin tenant: a
            platform's admin tenant lives in the base realm while its orgs live
            in the platform realm (ADR-015/ADR-067), so staff legitimately span
            both.

            Turning it ON is permitted even while users still hold two active
            memberships; the D5 picker drains them at each next login. Read
            `single_tenant_pending_reconciliation` on GET /platforms/{id}/config
            to see how many are still outstanding — a user who never logs in
            never resolves.

            A conflicting membership is an ERROR, never an automatic move. Every
            ADMINISTERED membership-creating path refuses with `409
            single_tenant_membership` and the user must leave their current
            organization first: `POST /tenants/{id}/invitations`,
            `POST /platforms/{pid}/tenants` (the inline owner), and
            `PUT /tenants/{id}/owner`. Bulk import
            (`POST /tenants/{id}/users/import`) reports the same code per row,
            which rejects the whole file (uniform-200, no 409).

            JIT / domain auto-provisioning at `POST /auth/login` is the one path
            with no operator on it: the second membership is simply NOT CREATED
            and the login SUCCEEDS on the membership the user already holds.
            Failing it would lock a compliant user out of their own org because
            another org proved their email domain — and per D5 a domain-eligible
            org is not an active membership and violates nothing. The refusal is
            audited as `user.auto_provision_refused`.
        session_eviction_policy: { type: string, enum: [reject] }
        access_ttl_seconds:
          type: integer
          minimum: 1
          maximum: 86400
          description: Per-realm override for access-token TTL. Omit = 15m default.
        refresh_ttl_seconds:
          type: integer
          minimum: 1
          maximum: 15552000
          description: Per-realm override for refresh-token TTL. Omit = 30d default.
        max_user_session_lifetime_seconds:
          type: integer
          minimum: 3600
          maximum: 31536000
          description: |
            ADR-058 — hard upper bound on a **user** session's total
            lifetime, measured from first login (not from the latest
            refresh). Refresh-token `expires_at` is additionally capped at
            `created_at + max_user_session_lifetime_seconds`, so even a
            continuously-refreshing session terminates and forces a full
            re-login — there is no infinite session. Independent of
            `refresh_absolute_expiry` mode. Applies to user sessions only;
            service/platform (M2M) sessions are exempt. Omit = service
            default (30d). The cap cannot be disabled, only tuned within
            [1h, 365d].
        idle_ttl_seconds:
          type: integer
          minimum: 0
          description: |
            ADR-070 — per-realm idle (inactivity) session timeout, in seconds.
            After this many seconds without activity a user's BFF session is
            force-logged-out (a sliding window that resets on each request).
            Enforcement lives in the BFF; the issuer only stores this value and
            emits it as the `idle_ttl` duration on login/token/refresh
            responses. `null` / `0` / omitted = **disabled** (the default;
            fully backward compatible). When set, must be `>= 300` (5 min) and
            must not exceed the realm's effective `refresh_ttl_seconds` (idling
            out after the refresh token has already died is meaningless) —
            values outside that band return 400 `invalid_config_value`.
        challenge_ttl_seconds:
          type: integer
          minimum: 1
          maximum: 1800
          description: Per-realm override for MFA/revocation challenge TTL. Omit = 5m default.
        platform_token_ttl_seconds:
          type: integer
          minimum: 1
          maximum: 900
          description: |
            Per-realm override for the platform access-token TTL
            minted by `POST /auth/login` with
            `grant_type=platform_api_key` (ADR-051; SDK SPEC §4.0).
            Omit = 5m default; hard cap = 15m. Used by the SDK's
            platform session manager.
        access_token_custom_claim_keys:
          type: array
          items: { type: string }
          description: |
            Allowlist of partner-supplied claim keys honoured by
            POST /auth/token's `custom_claims` (SDK SPEC §4.2). Reserved
            JWT claim names (iss, sub, aud, iat, nbf, exp, jti, azp,
            tenant_id, role, mfa_at, amr, scope, token_class) always win,
            and a request naming one is now REFUSED with 400
            `reserved_claim_key` rather than dropped (ADR-097 D3 — the list
            this sentence used to carry was hand-maintained and had already
            drifted, omitting `mfa_at` and `amr`). Any request key not in
            this allowlist returns 400 `bad_request`. Empty / unset = no
            custom claims accepted.
        service_refresh_rotates:
          type: boolean
          description: |
            ADR-051 (v0.7.0). When `false` (default), service
            refresh tokens issued by `POST /auth/login` with
            `grant_type=api_key` are multi-use until expiry — no
            rotation, no reuse-detection. When `true`, service
            refresh tokens are single-use; `POST /auth/token`
            rotates them and runs the user-style reuse-detection
            lifecycle (ADR-031). Service refresh TTL reuses
            `refresh_ttl_seconds`. Default `false` matches today's
            "M2M tokens are essentially single-shot" posture.
        service_refresh_ttl_seconds:
          type: integer
          minimum: 300
          maximum: 15552000
          description: |
            ADR-071 §6 — platform default refresh TTL for **ClassService**
            (service-account) sessions, in seconds [300, 180d]. `0`/absent
            falls back to `refresh_ttl_seconds` at mint time.
        service_refresh_ttl_max_seconds:
          type: integer
          minimum: 300
          maximum: 15552000
          description: |
            ADR-071 §6 — platform ceiling a per-org service-TTL override
            cannot exceed, in seconds [300, 180d].
        mfa_session_ttl_seconds:
          type: integer
          minimum: 60
          maximum: 86400
          description: |
            Realm-wide default MFA freshness window (SPEC §10.4). The SDK
            middleware reads this via `realm.info()` to pick a default
            `maxAgeSeconds` for routes that don't override it. Suggested 900
            (15 min). Server does not directly enforce — SDK middleware does.
        default_invitation_role:
          type: string
          description: |
            Per ADR-040 §5: role new invitations land in when the caller
            doesn't pass one. Must reference a name in the realm's
            /platforms/{id}/roles catalog; cannot be `owner`. Falls back to
            `member` when unset or stale. Owner-editable.
        signing_key_rotation_mode:
          type: string
          enum: [auto, manual]
          description: |
            Scheduled signing-key rotation policy (roles/signing-keys overhaul).
            `auto` (default when unset) rotates on `signing_key_rotation_interval`;
            `manual` disables scheduled rotation (keys only rotate on an explicit
            `POST /platforms/{id}/signing-keys/rotate`).
        signing_key_rotation_interval:
          type: string
          enum: ['1w', '1mo', '1y']
          description: |
            Auto-rotation cadence. Empty falls back to the worker default (the
            base/RI realm keeps a short internal cadence; customer realms default
            to `1w` in the console). Ignored when `signing_key_rotation_mode` is
            `manual`.
        mfa_policy:
          type: string
          enum: [disabled, enabled, enforced]
          description: |
            ADR-075 — **platform-level** MFA floor, layered on top of the
            per-org `TenantConfig.mfa_policy`. Distinct from that per-org key
            (which is `off`/`opt_in`/`required_for_all`). Values:
            `disabled` (or omitted) — no platform floor; org policy governs
            (default, backward-compatible). `enabled` — UI-hint only; MFA is
            surfaced as recommended but carries **no** server-side effect (an org
            may still opt out). `enforced` — MFA is required across **every** org
            regardless of the per-org policy, and an unenrolled user is pushed
            into first-login enrollment (ADR-061). Only `enforced` changes
            request-path behavior. Surfaced on `realm.info()` / GET
            /platforms/mine.
        accept_provider_mfa:
          type: boolean
          description: |
            ADR-078 — when true, a login token that carried a provider-native
            MFA proof (google/microsoft/firebase only) satisfies the GENERIC MFA
            requirement (the ADR-075 floor + org policy) for that session,
            removing the double-challenge for federated users. It NEVER satisfies
            a role's `required_mfa_methods`. Default false = fail-closed (RI always
            challenges). Surfaced on GET /platforms/mine.
        provider_mfa_ttl_seconds:
          type: integer
          minimum: 0
          maximum: 86400
          description: |
            ADR-078 §6 — re-MFA window for provider-sourced satisfaction. `0`
            (default) = valid for the whole session (still bounded by the session
            TTL). `>0` = a session whose provider MFA was proven longer ago than
            this no longer satisfies a step-up ("specific operation") check — the
            user must re-MFA (RI challenge if enrolled, else re-login).
        otp_length:
          type: integer
          minimum: 4
          maximum: 10
          description: |
            Length (in digits) of OTP values minted by `/auth/otp/issue`.
            Default 6. Per-realm only — per-call override is rejected to
            avoid security erosion.
        otp_ttl_seconds:
          type: integer
          minimum: 30
          maximum: 600
          description: |
            Time-to-live (seconds) for OTPs minted by `/auth/otp/issue`
            and the Redis-backed plaintext cache backing `GET /auth/otp/{id}`.
            Default 60.
        otp_login_enabled:
          type: boolean
          description: |
            Gates `POST /auth/login` with `grant_type=otp` (the
            single-factor "manager hands SA an OTP, SA types phone +
            OTP" flow — see `LoginRequestOTP`). `grant_type` is the
            RFC 6749 credential-exchange parameter; the OTP login has
            no `method` field. Default false.
        otp_mfa_enabled:
          type: boolean
          description: |
            Gates `POST /auth/mfa/verify` with `method=otp`
            (two-factor: first-factor login → manager-issued OTP as
            second factor). Default false. Per-user activation also
            requires the user (or one of the user's role assignments)
            to be enrolled in `otp` — see `users.mfa_methods`
            and `roles.required_mfa_methods`.

        # ---- ADR-094 D4: per-org domain SSO -------------------------------
        domain_sso:
          type: object
          description: |
            ADR-094 per-org domain-SSO standard, grouped as ONE nested object
            rather than two flat siblings, per the convention `user_api_keys`
            below also follows.

            **PATCH semantics are MERGE** — send one sub-key and the other is
            left alone. (The stored object is then replaced wholesale, but the
            handler fills the omitted field from the current value first, so a
            partial patch never silently resets the other half.)

            `evidence` — how much proof activates a grant:

            * `dns_required` (DEFAULT) — only DNS/file/meta proof activates.
            * `platform_approved` — the platform owner may additionally attest.
            * `self_asserted` — an org's own unverified claim activates.

            Proof is ALWAYS accepted, at every level; the setting only decides
            how far BELOW proof the platform is willing to go.

            `uniqueness` — may one domain back more than one org:

            * `exclusive` (DEFAULT) — at most one active grant per domain.
            * `shared` — several orgs may hold it.

            `shared` is refused with `409 incoherent_domain_policy` while the
            realm also sets `single_tenant_membership`: a shared domain offers
            several candidate orgs to a new user while single-tenant membership
            admits exactly one, so the assignment would fall out of candidate
            ORDER — arbitrary org capture, for every new user, with nothing to
            make anyone notice.

            An ABSENT or partially-set object reads back as the STRICT defaults,
            never as empty strings. Forgetting to configure must not be the
            permissive path.
          properties:
            evidence:
              type: string
              enum: [dns_required, platform_approved, self_asserted]
            uniqueness:
              type: string
              enum: [exclusive, shared]

        # ---- ADR-084 §10: user API keys (end-user keys) -------------------
        user_api_keys:
          type: object
          description: |
            ADR-084 end-user-API-key settings, grouped as ONE nested object
            rather than a dozen `user_api_key_*` siblings. Governs **user**
            keys only — the platform-bot key's lifecycle is ADR-085 and its
            login switch is `platform_api_key_login_enabled` below.

            **PATCH semantics are MERGE**: an omitted sub-key leaves the stored
            value alone. This deliberately differs from
            `refresh_absolute_expiry`, which replaces wholesale because its
            fields are one coherent policy where a partial update is ambiguous;
            these knobs are independent, so resetting eleven of them because
            the caller patched the twelfth would be a footgun.

            An unknown sub-key is rejected with `unknown_config_key` qualified
            by the dotted path (e.g. `user_api_keys.enabld`) — silently
            ignoring it would let a typo look like a successful write.
          properties:
            enabled:
              type: boolean
              description: |
                Master switch. Default **false**: the feature is opt-in per
                realm. While false every
                `/tenants/{tid}/users/{uid}/user-api-keys` call returns
                `412 user_api_keys_disabled`.
            max_active:
              type: integer
              minimum: 1
              maximum: 100
              description: |
                Maximum **active** keys per user — active meaning neither
                revoked nor expired, so revoked and expired rows do not consume
                slots. Default 5. `409 too_many_active_keys` at the limit.

                Per ADR-084 §6 this is a **per-partition** quota, not
                per-person: cross-tenant identity is an equivalence induced by
                approved `contact_verifications` `(method, provider_uid)`
                tuples — the IdP account, not the email address — so two IdP
                accounts for one human are two identities by design (ADR-080's
                anti-takeover posture) and each carries its own quota.
            max_ttl_seconds:
              type: integer
              minimum: 300
              maximum: 31536000
              description: |
                Hard ceiling on a key's TTL, applied at mint; above it returns
                `400 ttl_exceeds_max`. Default 7776000 (90d).
            default_ttl_seconds:
              type: integer
              minimum: 300
              maximum: 31536000
              description: |
                TTL applied when a mint request omits `ttl_seconds`. Default
                2592000 (30d). **Not** cross-validated against `max_ttl_seconds`
                at PATCH time — both can arrive in one body in either order, so
                a pairwise check would be order-dependent. The mint path clamps
                default to max instead, which is the only place both values are
                known for certain.
            allow_non_expiring:
              type: boolean
              description: |
                When false (default) a key must carry an expiry; requesting a
                non-expiring key returns `400 non_expiring_not_allowed`. A
                permanent user credential should be a conscious realm-level
                decision, not what you get by omitting a field.
            org_scope_default:
              type: string
              enum: ["", selected, all]
              description: |
                ADR-084 §6 — `org_scope` used when a mint request omits it.
                `selected` (default) pins the key to a **frozen** allowlist of
                org ids, defaulting to just the user's current org; memberships
                acquired later do **not** widen the key. Setting this to `all`
                still requires `allow_all_orgs`.
            allow_all_orgs:
              type: boolean
              description: |
                ADR-084 §6 — gates `org_scope=all`, default **false**. `all`
                means "every org in this realm the user belongs to, now *and in
                future*", resolved fresh at every exchange rather than
                snapshotted (a snapshot would mean "all orgs as of Tuesday",
                which is neither thing a user could mean). It is the one mode
                that widens with no human in the loop — hence its own opt-in,
                and the requirement that the mint UI label it
                forward-inclusive. `400 all_orgs_not_allowed` when false.
            max_permission_strings:
              type: integer
              minimum: 1
              maximum: 256
              description: |
                Cap on the number of entries in `permissions_cap`. Default 32;
                `400 too_many_permissions` above it.
            max_permission_string_len:
              type: integer
              minimum: 1
              maximum: 1024
              description: |
                Cap on the length of one `permissions_cap` entry. Default 128.
                Shape validation only — for a partner audience the strings are
                opaque to RealmID (ADR-084 §7.2).
            require_mfa_at_mint:
              type: boolean
              nullable: true
              description: |
                ADR-084 §8 — makes minting a step-up operation
                (`RequireMFAOpts(mintPath, {RequireFresh: true})`), answering
                `412 mfa_required` with a challenge.

                **Defaults to ON**: `null` (never configured) means required
                whenever the realm has MFA *enabled* — not merely enforced. So
                `null` and `false` differ: `false` is an explicit downgrade.
                That is why this is nullable rather than a plain boolean, which
                could never be turned off.

                This is one mechanism with §8.1's floor exemption: a key
                exchange *is* a login, and in a realm with a mandatory MFA floor
                a headless script can never present TOTP. So key exchange is
                exempt from the realm MFA floor **if and only if** MFA was
                proven at mint (`minted_mfa_at IS NOT NULL`). Weakening this
                knob therefore weakens the exemption's justification, not just
                the mint.
            org_admin_visible:
              type: boolean
              nullable: true
              description: |
                Whether an org admin holding `user_api_keys:read` may see (and
                with `user_api_keys:manage`, revoke) their members' keys.
                **Defaults to ON** — `null` = never configured = visible;
                `false` hides the surface. Nullable for the same reason as
                above.

        # ---- ADR-057 Amendment A.1 / ADR-085 §5 --------------------------
        platform_api_key_login_enabled:
          type: boolean
          nullable: true
          description: |
            Gates `POST /auth/login` with `grant_type=platform_api_key` for this
            realm. **Defaults to ON** (`null` = never configured = enabled), so
            nothing changes for an existing realm.

            Setting it false is what lets a realm that has completed its ADR-057
            WIF migration go keyless **and mean it**: WIF's whole value is that
            no long-lived secret sits in the deployed service, which is void if
            a forgotten key still authenticates. The flip is
            base-realm-staff-only in both directions; PATCHing it to `false`
            while the realm still holds an ACTIVE platform key returns
            `409 active_api_keys_exist` — **revoked and expired keys do not
            block**, since they already authenticate nothing. Re-enabling is
            never blocked.

            Enforcement is at `POST /auth/login`: while `false`, a
            `grant_type=platform_api_key` call returns
            `403 platform_api_key_login_disabled`. 403 rather than 401 because
            the credential is not what is wrong — the realm's policy is, and a
            401 would send a client into a pointless re-auth loop.

            Because the flip requires zero active keys, no live M2M session can
            survive it: the keys behind those sessions must be revoked first,
            and the ADR-085 §4 refresh re-check then kills the sessions.

            The staff-only rule is enforced *inside* the config handler; the
            handler's outer gate accepts base-realm staff as an alternative to
            `platform:config`, without which this knob would be unsettable on
            any partner realm.
        refresh_absolute_expiry:
          type: object
          description: |
            ADR-054 — scheduled absolute expiry for refresh tokens. Object
            `{mode, daily_cutoff_local, timezone}`. `mode="rolling"` (or
            omitted) preserves rolling-TTL behaviour and ignores the other
            two fields. `mode="scheduled"` forces every refresh token in the
[...]
